.postsBlock {
    padding: 10px;
    color: #54667D;
}

.posts {
    margin-top: 10px;
}

.postsTitle {
    font-size: 1.8rem;
}

.postsEnter {
    width: 70%;
    height: 110px;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    color: #54667D;
    font-size: 1.1rem;
    resize: none;
}

.messageBtn {
    margin-top: 5px;
    width: 100px;
    height: 30px;
    background-color: #54667D;
    color: #ffffff;
    border: 2px solid #54667D;
    border-radius: 6px;

}