.header {
  grid-area: h;
  background-color: #34465D;
}

.logo {
  width: 50px;
  display: inline-block;
  vertical-align: inherit;
  z-index: 10;
}

.loginBlock {
  float: right;
  margin-right: 70px;
  color: aliceblue;
}

.loginBlock a {
  color: aliceblue;
}