.nav {
    grid-area: n;
    background-color: #FFFFFF;
    padding: 20px;
}

.item {
    color: #54667D;
    text-decoration: none;
    margin-bottom: 15px;
}

.item:hover,
.active {
    color: #FA6342;
    text-decoration: none;
}

.sidebar {
    margin-top: 60px;
}

.sidebar h3 {
    text-align: center;
    color: #54667D;
}

.sidebarIcons {
    display: flex;
    justify-content: center;
}