.app-wrapper {
    margin: auto 0;
    width: 100%;
    display: grid;

    grid-template-areas: "h h"
    "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /* grid-gap: 10px; */
}

.app-wrapper-content {
    grid-area: c;
    background-color: #EDF2F6;
    padding: 0 10px;

}

.app-wrapper-content img {
    max-width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}
